.main 
{
    padding: 20px 50px;
}

.ctrl1, .ctrl2
{
    padding: 20px;
}

.result
{
    margin: 20px 0;
    padding: 10px;
    background-color: #eee;
    height: 100px;
    border-radius: 5px;
}

.result p 
{
    font-size: 13px;
}